In [245]:
from pyspark.sql import SparkSession, dataframe, Row
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import DoubleType, IntegerType, StringType
from pyspark.sql import HiveContext
from pyspark.sql.functions import *
from pyspark.sql import functions as f
from pyspark.sql.functions import col,trim,ltrim,rtrim,when,regexp_replace,concat_ws, lit, sha2

import os
import re

In [246]:
#sess√£o do spark com o Hive
#spark = SparkSession.builder.master("local[*]")\
#    .enableHiveSupport()\
#    .getOrCreate()

In [247]:
#Iniciando o tratamento dos dados
df_clientes = spark.sql("select * from desafio_curso.tbl_clientes")

In [248]:
#Convertendo os tipos de dados
df_clientes = df_clientes.withColumn("address_number",col("address_number").cast(IntegerType()))\
        .withColumn("business_unit",col("business_unit").cast(IntegerType()))\
        .withColumn("customerkey",col("customerkey").cast(IntegerType()))\
        .withColumn("division",col("division").cast(IntegerType()))\
        .withColumn("region_code",col("region_code").cast(IntegerType()))

In [249]:
#Tratando as colunas vazias
df_clientes = df_clientes.withColumn('line_of_business', regexp_replace('line_of_business', '   ', 'N/I'))

In [250]:
df_clientes.count()

684

In [251]:
#Removendo tuplas duplicadas
df_clientes = df_clientes.distinct()
df_clientes.count()

684

In [252]:
df_clientes.printSchema()

root
 |-- address_number: integer (nullable = true)
 |-- business_family: string (nullable = true)
 |-- business_unit: integer (nullable = true)
 |-- customer: string (nullable = true)
 |-- customerkey: integer (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- division: integer (nullable = true)
 |-- line_of_business: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- region_code: integer (nullable = true)
 |-- regional_sales_mgr: string (nullable = true)
 |-- search_type: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [253]:
df_clientes.createOrReplaceTempView('tb_clientes')

In [254]:
df_divisao = spark.sql("select * from desafio_curso.tbl_divisao")

In [255]:
df_divisao = df_divisao.withColumn("division",col("division").cast(IntegerType()))

In [256]:
df_divisao.createOrReplaceTempView('tb_divisao')

In [257]:
df_endereco = spark.sql("select * from desafio_curso.tbl_endereco")

In [258]:
df_endereco.printSchema()

root
 |-- address_number: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- customer_address_1: string (nullable = true)
 |-- customer_address_2: string (nullable = true)
 |-- customer_address_3: string (nullable = true)
 |-- customer_address_4: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [259]:
#Convertendo os tipos de dados
df_endereco = df_endereco.withColumn("address_number",col("address_number").cast(IntegerType()))

In [260]:
#Tratando as colunas vazias
df_endereco = df_endereco.withColumn('city', regexp_replace('city', '                        ', 'N/I'))\
            .withColumn('customer_address_1', regexp_replace('customer_address_1', '                                       ', 'N/I'))\
            .withColumn('customer_address_2', regexp_replace('customer_address_2', '                                       ', 'N/I'))\
            .withColumn('customer_address_3', regexp_replace('customer_address_3', '                                       ', 'N/I'))\
            .withColumn('customer_address_4', regexp_replace('customer_address_4', '                                       ', 'N/I'))\
            .withColumn('zip_code', regexp_replace('zip_code', '            ', 'N/I'))
df_endereco = df_endereco.select([when(col(c)=="",None).otherwise(col(c)).alias(c) for c in df_endereco.columns])
df_endereco = df_endereco.na.fill("N/I")

In [261]:
df_endereco.createOrReplaceTempView('tb_endereco')

In [262]:
df_regiao = spark.sql("select * from desafio_curso.tbl_regiao")

In [263]:
df_regiao.printSchema()

root
 |-- region_code: string (nullable = true)
 |-- region_name: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [264]:
#Convertendo os tipos de dados
df_regiao = df_regiao.withColumn("region_code",col("region_code").cast(IntegerType()))

In [265]:
df_regiao.createOrReplaceTempView('tb_regiao')

In [266]:
df_vendas = spark.sql("select * from desafio_curso.tbl_vendas")

In [267]:
df_vendas.printSchema()

root
 |-- actual_delivery_date: string (nullable = true)
 |-- customerkey: string (nullable = true)
 |-- datekey: string (nullable = true)
 |-- discount_amount: string (nullable = true)
 |-- invoice_date: string (nullable = true)
 |-- invoice_number: string (nullable = true)
 |-- item_class: string (nullable = true)
 |-- item_number: string (nullable = true)
 |-- item: string (nullable = true)
 |-- line_number: string (nullable = true)
 |-- list_price: string (nullable = true)
 |-- order_number: string (nullable = true)
 |-- promised_delivery_date: string (nullable = true)
 |-- sales_amount: string (nullable = true)
 |-- sales_amount_based_on_list_price: string (nullable = true)
 |-- sales_cost_amount: string (nullable = true)
 |-- sales_margin_amount: string (nullable = true)
 |-- sales_price: string (nullable = true)
 |-- sales_quantity: string (nullable = true)
 |-- sales_rep: string (nullable = true)
 |-- u_m: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [268]:
#Convertendo os tipos de dados
df_vendas = df_vendas.withColumn("customerkey",col("customerkey").cast(IntegerType()))\
        .withColumn("discount_amount",col("discount_amount").cast(DoubleType()))\
        .withColumn("invoice_number",col("invoice_number").cast(IntegerType()))\
        .withColumn("item_number",col("item_number").cast(IntegerType()))\
        .withColumn("line_number",col("item_number").cast(IntegerType()))\
        .withColumn("list_price",col("list_price").cast(DoubleType()))\
        .withColumn("order_number",col("order_number").cast(IntegerType()))\
        .withColumn("sales_amount",col("sales_amount").cast(DoubleType()))\
        .withColumn("sales_amount_based_on_list_price",col("sales_amount_based_on_list_price").cast(DoubleType()))\
        .withColumn("sales_cost_amount",col("sales_cost_amount").cast(DoubleType()))\
        .withColumn("sales_margin_amount",col("sales_margin_amount").cast(DoubleType()))\
        .withColumn("sales_price",col("sales_price").cast(DoubleType()))\
        .withColumn("sales_quantity",col("sales_quantity").cast(IntegerType()))\
        .withColumn("sales_rep",col("sales_rep").cast(IntegerType()))
df_vendas = df_vendas.select('discount_amount',
                             'invoice_number',
                             'item_class',
                             'item_number',
                             'item',
                             'line_number',
                             'list_price',
                             'order_number',
                             'sales_amount',
                             'sales_amount_based_on_list_price',
                             'sales_cost_amount',
                             'sales_margin_amount',
                             'sales_price',
                             'sales_quantity',
                             'sales_rep',
                             'u_m', 
                             'customerkey',
                             'dt_foto',
                             from_unixtime(unix_timestamp('actual_delivery_date', 'dd/MM/yyy')).alias('actual_delivery_date'),
                             from_unixtime(unix_timestamp('invoice_date', 'dd/MM/yyy')).alias('invoice_date'),
                             from_unixtime(unix_timestamp('promised_delivery_date', 'dd/MM/yyy')).alias('promised_delivery_date'),
                             from_unixtime(unix_timestamp('datekey', 'dd/MM/yyy')).alias('datekey')
                            )

In [269]:
#Tratando as colunas vazias
df_vendas = df_vendas.na.fill(value=0)
df_vendas = df_vendas.select([when(col(c)=="",None).otherwise(col(c)).alias(c) for c in df_vendas.columns])
df_vendas = df_vendas.na.fill("N/I")
df_vendas = df_vendas.withColumn("datekey",to_timestamp(col("datekey")))
df_vendas = df_vendas.withColumn("promised_delivery_date",to_timestamp(col("promised_delivery_date")))
df_vendas = df_vendas.withColumn("invoice_date",to_timestamp(col("invoice_date")))
df_vendas = df_vendas.withColumn("actual_delivery_date",to_timestamp(col("actual_delivery_date")))

In [270]:
df_vendas.printSchema()

root
 |-- discount_amount: double (nullable = true)
 |-- invoice_number: integer (nullable = true)
 |-- item_class: string (nullable = false)
 |-- item_number: integer (nullable = true)
 |-- item: string (nullable = false)
 |-- line_number: integer (nullable = true)
 |-- list_price: double (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- sales_amount: double (nullable = true)
 |-- sales_amount_based_on_list_price: double (nullable = true)
 |-- sales_cost_amount: double (nullable = true)
 |-- sales_margin_amount: double (nullable = true)
 |-- sales_price: double (nullable = true)
 |-- sales_quantity: integer (nullable = true)
 |-- sales_rep: integer (nullable = true)
 |-- u_m: string (nullable = false)
 |-- customerkey: integer (nullable = true)
 |-- dt_foto: string (nullable = false)
 |-- actual_delivery_date: timestamp (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- promised_delivery_date: timestamp (nullable = true)
 |-- datekey: timestamp (nullable = true)

In [271]:
df_vendas.createOrReplaceTempView('tb_vendas')

In [272]:
#Criando tabel√£o com todos os dados
query='''
SELECT    c.customerkey
          ,c.customer
          ,c.customer_type
          ,c.business_family
          ,c.business_unit
          ,c.division
          ,d.division_name
          ,c.line_of_business
          ,c.phone
          ,c.region_code
          ,r.region_name
          ,c.regional_sales_mgr
          ,c.search_type
          ,v.datekey
          ,v.actual_delivery_date
          ,v.discount_amount
          ,v.invoice_date
          ,v.invoice_number
          ,v.item_class
          ,v.item_number
          ,v.item
          ,v.line_number
          ,v.list_price
          ,v.order_number
          ,v.promised_delivery_date
          ,v.sales_amount
          ,v.sales_amount_based_on_list_price
          ,v.sales_cost_amount
          ,v.sales_margin_amount
          ,v.sales_price
          ,v.sales_quantity
          ,v.sales_rep
          ,v.u_m
          ,e.address_number
          ,e.city
          ,e.country
          ,e.customer_address_1
          ,e.customer_address_2
          ,e.customer_address_3
          ,e.customer_address_4
          ,e.state
          ,e.zip_code
          ,e.dt_foto
FROM      tb_vendas v
          INNER JOIN tb_clientes c ON v.customerkey == c.customerkey
          INNER JOIN tb_regiao r ON c.region_code == r.region_code
          INNER JOIN tb_divisao d ON c.division == d.division
          LEFT JOIN tb_endereco e ON c.address_number == e.address_number
'''

In [273]:
df_stage = spark.sql(query)

In [274]:
df_stage.printSchema()

root
 |-- customerkey: integer (nullable = true)
 |-- customer: string (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- business_family: string (nullable = true)
 |-- business_unit: integer (nullable = true)
 |-- division: integer (nullable = true)
 |-- division_name: string (nullable = true)
 |-- line_of_business: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- region_code: integer (nullable = true)
 |-- region_name: string (nullable = true)
 |-- regional_sales_mgr: string (nullable = true)
 |-- search_type: string (nullable = true)
 |-- datekey: timestamp (nullable = true)
 |-- actual_delivery_date: timestamp (nullable = true)
 |-- discount_amount: double (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- invoice_number: integer (nullable = true)
 |-- item_class: string (nullable = false)
 |-- item_number: integer (nullable = true)
 |-- item: string (nullable = false)
 |-- line_number: integer (nullable = true)
 |-- list_price: double (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- promised_delivery_date: timestamp (nullable = true)
 |-- sales_amount: double (nullable = true)
 |-- sales_amount_based_on_list_price: double (nullable = true)
 |-- sales_cost_amount: double (nullable = true)
 |-- sales_margin_amount: double (nullable = true)
 |-- sales_price: double (nullable = true)
 |-- sales_quantity: integer (nullable = true)
 |-- sales_rep: integer (nullable = true)
 |-- u_m: string (nullable = false)
 |-- address_number: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- customer_address_1: string (nullable = true)
 |-- customer_address_2: string (nullable = true)
 |-- customer_address_3: string (nullable = true)
 |-- customer_address_4: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [275]:
df_stage = (df_stage
            .withColumn('Ano', year(df_stage.invoice_date))
            .withColumn('Mes', month(df_stage.invoice_date))
            .withColumn('Dia', dayofmonth(df_stage.invoice_date))
            .withColumn('Trimestre', quarter(df_stage.invoice_date))
           )

df_stage = df_stage.select([when(col(c)=="",None).otherwise(col(c)).alias(c) for c in df_stage.columns])
df_stage = df_stage.na.fill("N/I")

In [276]:
df_stage.printSchema()

root
 |-- customerkey: integer (nullable = true)
 |-- customer: string (nullable = false)
 |-- customer_type: string (nullable = false)
 |-- business_family: string (nullable = false)
 |-- business_unit: integer (nullable = true)
 |-- division: integer (nullable = true)
 |-- division_name: string (nullable = false)
 |-- line_of_business: string (nullable = false)
 |-- phone: string (nullable = false)
 |-- region_code: integer (nullable = true)
 |-- region_name: string (nullable = false)
 |-- regional_sales_mgr: string (nullable = false)
 |-- search_type: string (nullable = false)
 |-- datekey: timestamp (nullable = true)
 |-- actual_delivery_date: timestamp (nullable = true)
 |-- discount_amount: double (nullable = true)
 |-- invoice_date: timestamp (nullable = true)
 |-- invoice_number: integer (nullable = true)
 |-- item_class: string (nullable = false)
 |-- item_number: integer (nullable = true)
 |-- item: string (nullable = false)
 |-- line_number: integer (nullable = true)
 |-- list_price: double (nullable = true)
 |-- order_number: integer (nullable = true)
 |-- promised_delivery_date: timestamp (nullable = true)
 |-- sales_amount: double (nullable = true)
 |-- sales_amount_based_on_list_price: double (nullable = true)
 |-- sales_cost_amount: double (nullable = true)
 |-- sales_margin_amount: double (nullable = true)
 |-- sales_price: double (nullable = true)
 |-- sales_quantity: integer (nullable = true)
 |-- sales_rep: integer (nullable = true)
 |-- u_m: string (nullable = false)
 |-- address_number: integer (nullable = true)
 |-- city: string (nullable = false)
 |-- country: string (nullable = false)
 |-- customer_address_1: string (nullable = false)
 |-- customer_address_2: string (nullable = false)
 |-- customer_address_3: string (nullable = false)
 |-- customer_address_4: string (nullable = false)
 |-- state: string (nullable = false)
 |-- zip_code: string (nullable = false)
 |-- dt_foto: string (nullable = false)
 |-- Ano: integer (nullable = true)
 |-- Mes: integer (nullable = true)
 |-- Dia: integer (nullable = true)
 |-- Trimestre: integer (nullable = true)

In [278]:
#Gerando keys para as DW

df_stage = df_stage.withColumn('key_cliente',sha2(col("customerkey").cast(StringType()),256))
df_stage = df_stage.withColumn('key_tempo',sha2(concat_ws('|', col('invoice_date'), col('Ano'),col('Mes'),col('Dia')),256))
df_stage = df_stage.withColumn('key_localidade',sha2(concat_ws('|', col('division'), col('region_code'),col('address_number')),256))

In [279]:
df_stage.createOrReplaceTempView('tb_stage')

In [280]:
df_stage.show()

+-----------+-------------+-------------+---------------+-------------+--------+-------------+----------------+------------+-----------+-------------+------------------+-----------+-------------------+--------------------+---------------+-------------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+-------+----+---+---+---------+--------------------+--------------------+--------------------+
|customerkey|     customer|customer_type|business_family|business_unit|division|division_name|line_of_business|       phone|region_code|  region_name|regional_sales_mgr|search_type|            datekey|actual_delivery_date|discount_amount|       invoice_date|invoice_number|item_class|item_number|                item|line_number|list_price|order_number|promised_delivery_date|sales_amount|sales_amount_based_on_list_price|sales_cost_amount|sales_margin_amount|sales_price|sales_quantity|sales_rep|u_m|address_number|city|country|customer_address_1|customer_address_2|customer_address_3|customer_address_4|state|zip_code|dt_foto| Ano|Mes|Dia|Trimestre|         key_cliente|           key_tempo|      key_localidade|
+-----------+-------------+-------------+---------------+-------------+--------+-------------+----------------+------------+-----------+-------------+------------------+-----------+-------------------+--------------------+---------------+-------------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+-------+----+---+---+---------+--------------------+--------------------+--------------------+
|   10013312| Gate9th Shop|           G2|             R2|            1|       1|International|             N/I|816-455-8733|          5|International|                S9|          C|2017-02-12 00:00:00| 2018-02-12 00:00:00|            0.0|2017-02-15 00:00:00|        321775|       P01|      67550|  Discover Manicotti|      67550|       0.0|      117441|   2018-02-12 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      151| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  2| 15|        1|08b97a47ed0d446e6...|456e783539246c9c1...|53c5785493bc683c6...|
|   10013312| Gate9th Shop|           G2|             R2|            1|       1|International|             N/I|816-455-8733|          5|International|                S9|          C|2017-05-31 00:00:00| 2018-05-31 00:00:00|            0.0|2017-06-02 00:00:00|        302880|       P01|      38076|Cutting Edge Foot...|      38076|       0.0|      103178|   2018-05-31 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      151| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  6|  2|        2|08b97a47ed0d446e6...|aef576f2bdd52d3ea...|53c5785493bc683c6...|
|   10013312| Gate9th Shop|           G2|             R2|            1|       1|International|             N/I|816-455-8733|          5|International|                S9|          C|2017-08-14 00:00:00| 2018-08-14 00:00:00|            0.0|2017-08-16 00:00:00|        309387|       P01|      67550|  Discover Manicotti|      67550|       0.0|      106748|   2018-08-14 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      151| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  8| 16|        3|08b97a47ed0d446e6...|359aa4bb1d93b9fcf...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-02-19 00:00:00| 2019-02-19 00:00:00|            0.0|2018-02-21 00:00:00|        123325|       P01|      27550|   Imagine Popsicles|      27550|       0.0|      219128|   2019-02-19 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             2|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  2| 21|        1|5c79ecb4db821da36...|4c31d9ec0b9aae735...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-02-19 00:00:00| 2019-02-19 00:00:00|            0.0|2018-02-21 00:00:00|        123325|       P01|      20990|     Moms Sliced Ham|      20990|     101.0|      219128|   2019-02-19 00:00:00|         0.0|                          2020.0|              0.0|                0.0|        0.0|            20|      159| SE|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  2| 21|        1|5c79ecb4db821da36...|4c31d9ec0b9aae735...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-02-19 00:00:00| 2019-02-19 00:00:00|            0.0|2018-02-21 00:00:00|        123325|       P01|      62616|     Tell Tale Limes|      62616|     298.0|      219128|   2019-02-19 00:00:00|         0.0|                           894.0|              0.0|                0.0|        0.0|             3|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  2| 21|        1|5c79ecb4db821da36...|4c31d9ec0b9aae735...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-02-19 00:00:00| 2019-02-19 00:00:00|            0.0|2018-02-21 00:00:00|        123325|       P01|      63559|Gorilla String Ch...|      63559|     298.0|      219128|   2019-02-19 00:00:00|         0.0|                           894.0|              0.0|                0.0|        0.0|             3|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  2| 21|        1|5c79ecb4db821da36...|4c31d9ec0b9aae735...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2017-05-29 00:00:00| 2018-05-29 00:00:00|            0.0|2017-05-31 00:00:00|        302538|       P01|      39185|Nationeel Grape F...|      39185|       0.0|      101153|   2018-05-29 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  5| 31|        2|5c79ecb4db821da36...|c7b8b2dc4ba8ff15b...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2017-06-13 00:00:00| 2018-06-12 00:00:00|            0.0|2017-06-15 00:00:00|        303939|       P01|      39185|Nationeel Grape F...|      39185|       0.0|      101153|   2018-06-12 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             6|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  6| 15|        2|5c79ecb4db821da36...|dae39251402496152...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2017-06-19 00:00:00| 2018-06-19 00:00:00|            0.0|2017-06-21 00:00:00|        304471|       P01|      39185|Nationeel Grape F...|      39185|       0.0|      101153|   2018-06-19 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|            10|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2017|  6| 21|        2|5c79ecb4db821da36...|c878db62a0729363a...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-08-19 00:00:00| 2019-08-19 00:00:00|            0.0|2018-08-21 00:00:00|        110971|       P01|      27550|   Imagine Popsicles|      27550|       0.0|      208667|   2019-08-19 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             2|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  8| 21|        3|5c79ecb4db821da36...|a78b89578cff7e903...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-08-19 00:00:00| 2019-08-19 00:00:00|            0.0|2018-08-21 00:00:00|        110971|       P01|      20990|     Moms Sliced Ham|      20990|     101.0|      208667|   2019-08-19 00:00:00|         0.0|                          2020.0|              0.0|                0.0|        0.0|            20|      159| SE|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  8| 21|        3|5c79ecb4db821da36...|a78b89578cff7e903...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-08-19 00:00:00| 2019-08-19 00:00:00|            0.0|2018-08-21 00:00:00|        110971|       P01|      62616|     Tell Tale Limes|      62616|     298.0|      208667|   2019-08-19 00:00:00|         0.0|                           894.0|              0.0|                0.0|        0.0|             3|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  8| 21|        3|5c79ecb4db821da36...|a78b89578cff7e903...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-08-19 00:00:00| 2019-08-19 00:00:00|            0.0|2018-08-21 00:00:00|        110971|       P01|      63559|Gorilla String Ch...|      63559|     298.0|      208667|   2019-08-19 00:00:00|         0.0|                           894.0|              0.0|                0.0|        0.0|             3|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  8| 21|        3|5c79ecb4db821da36...|a78b89578cff7e903...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2018-08-27 00:00:00| 2019-08-26 00:00:00|            0.0|2018-08-29 00:00:00|        111708|       P01|      63560|Gorilla Low Fat S...|      63560|     298.0|      208667|   2019-08-26 00:00:00|         0.0|                           894.0|              0.0|                0.0|        0.0|             3|      159| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2018|  8| 29|        3|5c79ecb4db821da36...|c5685fcc5f5cb7c1c...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2019-01-05 00:00:00| 2020-01-05 00:00:00|            0.0|2019-01-07 00:00:00|        220089|       P01|      17801|Better Fancy Cann...|      17801|       0.0|      317266|   2020-01-05 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2019|  1|  7|        1|5c79ecb4db821da36...|e5303a8c586756c0f...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2019-01-05 00:00:00| 2020-01-05 00:00:00|            0.0|2019-01-07 00:00:00|        220087|       P01|      17801|Better Fancy Cann...|      17801|       0.0|      317251|   2020-01-05 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2019|  1|  7|        1|5c79ecb4db821da36...|e5303a8c586756c0f...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2019-01-26 00:00:00| 2020-01-26 00:00:00|            0.0|2019-01-28 00:00:00|        221909|       P01|      38051|     Gorilla 1% Milk|      38051|       0.0|      317266|   2020-01-26 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2019|  1| 28|        1|5c79ecb4db821da36...|92dddeeb7f9e305fb...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2019-02-16 00:00:00| 2020-02-16 00:00:00|            0.0|2019-02-18 00:00:00|        223677|       P01|      38061|Gorilla Blueberry...|      38061|       0.0|      317266|   2020-02-16 00:00:00|         0.0|                             0.0|              0.0|                0.0|        0.0|             1|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2019|  2| 18|        1|5c79ecb4db821da36...|5c48ab4bdaf3122bc...|53c5785493bc683c6...|
|   10018352|Johnson Store|           G3|             R3|            1|       1|International|             N/I|816-455-8733|          5|International|                S5|          C|2019-03-08 00:00:00| 2020-03-08 00:00:00|            0.0|2019-03-11 00:00:00|        225472|       P01|      63560|Gorilla Low Fat S...|      63560|     298.0|      320854|   2020-03-08 00:00:00|         0.0|                          1192.0|              0.0|                0.0|        0.0|             4|      127| EA|          null| N/I|    N/I|               N/I|               N/I|               N/I|               N/I|  N/I|     N/I|    N/I|2019|  3| 11|        1|5c79ecb4db821da36...|73097d029dc8b5b8f...|53c5785493bc683c6...|
+-----------+-------------+-------------+---------------+-------------+--------+-------------+----------------+------------+-----------+-------------+------------------+-----------+-------------------+--------------------+---------------+-------------------+--------------+----------+-----------+--------------------+-----------+----------+------------+----------------------+------------+--------------------------------+-----------------+-------------------+-----------+--------------+---------+---+--------------+----+-------+------------------+------------------+------------------+------------------+-----+--------+-------+----+---+---+---------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [282]:
#DIM_CLIENTES
dim_clientes = spark.sql('''
    SELECT DISTINCT key_cliente
        ,business_family "Business Family"
        ,customer "Customer"
        ,customer_type "Custome Type"
        ,line_of_business
        ,regional_sales_mgr
        ,search_type
    FROM tb_stage    
''')

ParseException: '\nLiterals of type \'BUSINESS_FAMILY\' are currently not supported.(line 3, pos 9)\n\n== SQL ==\n\n    SELECT DISTINCT key_cliente\n        ,business_family "Business Family"\n---------^^^\n        ,customer "Customer"\n        ,customer_type "Custome Type"\n        ,line_of_business\n        ,regional_sales_mgr\n        ,search_type\n    FROM tb_stage    \n'